*{
    box-sizing: border-box;
}

.header{
    background-color: #f44336;
    padding: 30px 40px 30px 40px;
    height:165px;
}

h2{
    padding-left: 45%;
    color:white;
}

input{
    width:75%;
    float: left;
    height: 40px;
}

.addBtn{
    cursor:pointer;
    width:25%;
    background-color: #d9d9d9;
    float:left;
    height:40px;
    text-align: center;
    padding-top: 10px;
}

.addBtn:hover{
    background-color: #bbb;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    cursor: pointer;
    position: relative;
    padding:12px 8px 12px 40px;
    background-color: #eee;
    font-size: 18px;
}

ul li:nth-child(odd){
    background-color: #f9f9f9;
}

ul li:hover{
    background-color: #ddd;
}

ul li.a{
    background-color: #888;
    color:white;
    text-decoration-line: line-through;
}

ul li.a::before{
    content: "";
    border: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    height: 15px;
    width: 7px;
    top:10px;
    left: 16px;
    transform: rotate(45deg);
    position: absolute;
}

ul li span{
    padding: 10px 10px 13px 10px;
    position: absolute;
    right:0;
    top:0;

}

ul li span:hover{
    background-color:  #f44336;
}